body
{ 
	text-align: center;
	background: url(../images/sysu_background03.jpg) no-repeat center;
	background-attachment: fixed;
 	background-size: 100% 100%; 
 	font-family: sans-serif;
}

.item_content {
	margin:0 auto;
	left:4%;
	width:90%;
	padding:1%;
	position:relative;
	float:left;
	background-color:rgba(0, 0, 0, 0.5);
	border-radius:5px;
}

.item_content_title {
	min-height:50px;
	margin-top:2%;
	padding:2%;
	color:white;
	font-size:35px;
}

.item_content_author {
	color:white;
	font-size:15px;
	padding:1px;
	margin:2px;
	min-height:25px;
}

.item_content_public {
	width:400px;
	font-size:20px;
	border-radius:15px;
	background-color: rgba(255,218,185,0.6);
	color:black;
	margin:0px auto;
	padding:7px;
}

.item_content_abstract {
	margin-top:20px;
	padding:15px;
	color:white;
	font-size:20px;
}

.item_content_keywords {
	padding:15px;
	color:white;
	font-size:15px;
}

.item_content_keywords  span{
	color:black;
	background-color:#6495ED;
	padding:5px;
	border-radius:5px;
}







.help_nav {
	position:relative;
	float:left;
	left:5%;
	width:20%;
	height:100px;
	background-color:rgba(0, 0, 0, 0.3);
	border-radius:5px;
}