.TextBox
{
	float:left;
	width:35%;
	height:50px;
	background:url(../images/search.png) no-repeat right center;
	background-color:#FFF;
	padding-right:25px;
	border-radius:15px;
	font: 25px sans-serif;
	line-height:30px;
}

.dropdown {
	position:relative;
	float:left;
	vertical-align:center;
	top:2px;
	left:0.5%;
	width:120px;;
	height:48px;
	text-align:center;
	line-height:50px;
	font-size:20px;
}

.small_main
{
	position:absolute;
	text-align: center;
	top:150px;
	left:2%;
	width:96%;
	margin:5px auto;
	color:black;
	font:20px sans-serif;
	font-weight:border;
}

.small_main_left
{
	position:relative;
	width:19%;
	height:100%;
	background-color:rgba(255, 255, 255, 0.5);
	float:left;
}

.small_main_nav
{
	position:relative;
	width:100%;
	float:left;
}

.small_title
{
	height:50px;
	width:100%;	
	background:rgba(255, 255, 255, 0.7);
	position:relative;
	color:#333534;
}

/*20150924 by shouz 添加margin-left:15px，使其与左端空出更大距离*/
.small_title_left
{
	font-size:20px;
	float:left;
	margin-left:15px;
	position:absolute;
	bottom:6px;
	left:5px;
}

.small_content
{
	width:100%;
	float:left;
	color:#404040;
	text-align:left;
	padding:10px;
}
.small_content input
{
	margin:5px 0px 5px 3px;
}
.checkbox
{
	margin:5px 0 7px 5px;
}

.small_main_result
{
	width:80%;
	min-height:200px;
	background-color:rgba(255, 255, 255, 0.8);
	margin-left:1%;
	float:left;
}

.small_tag
{
	height:50%;
	width:100%;
}

.small_tag a
{
	color:#000;
	text-decoration:none;
}



.hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

input[type=checkbox]+span {
    /* your style goes here */
    display: inline-block;
    height: 3em;
    width: 3em;
    border-radius: 4px;
    background-color: gray;
    color: #fff;    
    font-size: 12px; 
    line-height:3em;   
}

/* active style goes here */
input[type=checkbox]:checked+span {
    background-color: red;
}