@charset "utf-8";
/* CSS Document */



/*20150920 by devil 将字体更改为12px*/
/*20160401 by devil 将字体更改为14px*/
*{
	margin:0;
	padding:0;
	font-size:14px;
	line-height:1.5;
/*	overflow:hidden;									/*不同浏览器兼容不一样*/
}

body
{
	text-align: center;
	background: url(../images/sysu_background03.jpg) no-repeat center;
	background-attachment: fixed;
 	background-size: 100% 100%; 
}



/*top*/
.top
{
	position:relative;
}
.top_top
{
/* 	width:1800px;
	margin:0 auto; */
	width:100%;
	height:27px;
	background:url(../images/top_bg.png) repeat-x;
}
.top_top li
{
	list-style-image:url(../images/li_bg.png);
	float:right;
	width:70px;
	line-height:27px;
}

/*20150920 by shouz 将字体颜色更改为white*/
.top_top a:link, .top_top a:visited
{
	color:white;
	text-decoration:none;
}

.top_top a:hover, .top_top a:active
{
	color:#365AE4;
	text-decoration:none;
}

.wrap
{
	text-align: center;
	height:120px;
	width:100%;
	margin:0 auto;
}

.logo
{
	position:relative;
	float:left;
	width:30%;
	height:120px;
	background-color:#F3F3F;
	float: left;
	z-index:1;
}
.logo img
{
	height:120px;
}

.TopSearch
{
	position:relative;
	float:left;
	width:70%;
	height:100%;
	font-weight:bold;
}


.search_radio
{
	position:relative;
	float:left;
	font-size:15px;
	font-weight: border;
	float:left;
}

/*20150920 by devil 将.div-logo,.div-logo p,.div-enter,.div-bubble移动到css*/
/*20150920 by devil 还原了bubble效果*/
.div-bubble { position:absolute; margin:0 auto; height:100%; width:100%; }
.div-logo {   margin:0 auto;background-color: rgba(0,0,0,0.5);width:40%; height:150px;}
.div-logo p { font-size:25px; font-family: Cursive, Sans-serif; color: silver; }
.div-enter { position:absolute; left:580px; top:450px; width:200px; height:100px;}    

	#logo {
		z-index:-1;
		height: 350px;
		width: 1000px;
		MARGIN-RIGHT: auto;
		MARGIN-LEFT: auto;
	}
	.selectZone {
		padding:10px;
		height: 150px;
		width: 400px;
		MARGIN: 0 auto;
	}
	.select {
		float: left;
		margin-left:30%;
	}